body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}


.logo{
    height:80px;
    width:auto;
    margin: 10px;
}

.user-name{
    float:inline-start;
    margin-top:20px;
    margin-right:20px;
   
}

.user-container {
    position: relative;
    float: right;
    margin: 20px;
}

.user img {
    height: 60px;
    width: auto;
}

.user-dropdown {
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:150px;
    top:100%;
    left:-50px;


}

.user-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.user-container:hover .user-dropdown {
    display: block;
   
}
.user-dropdown a:hover {
    background-color: #f1f1f1;
}

.user{
    height:60px;
    width:auto;
    margin:0    px;
    float:right;
}


.topnav {
    overflow: hidden;
    background-color: #641317;
    display:flex;
    justify-content: center;
    align-items: center;

}

.topnav a {
    
    display: block;
    color: #f2f2f2;
    padding: 20px 16px;
    text-decoration: none;
    font-size:medium;
    margin-right: 100px;
    transition: background-color 0.2s 0.1s, transform 0.2s 0.1s;
    border-radius: 50px;
    box-sizing: border-box;
}

.topnav a:hover {
    background-color: #941A1F;
    transform: scale(1.1);
    
}

.option{
    border:none;
    background-color: #941A1F;
    padding:1cap;
    color:white;
    border-radius: 10px;
    max-width: 8%;
    margin-left: 30px;
    text-align: center;
    font-weight:400;
    transition: background-color 0.2s 0.1s, transform 0.2s 0.1s;
    text-decoration: none;

}

.option:hover{
    cursor: pointer;
    background-color: #641317;
}

.ava{
    font-weight:10;
    text-align: center;
    margin-right: 90px;
    color:#941A1F;
}

.survey{
    background-color: #F1F1F1;
    margin:30px;
    border-radius: 10px;
    padding:1px;
    padding-left:20px;
    box-shadow: 2px 2px 4px rgba(0  , 0, 0, 0.3);
}

.class-survey{
    color:#941A1F;
    margin-bottom:0px;
    float:left;
    
}

.infocontainer{
    display:flex;
    margin-top: 70px;
    
}

.admin{
    color:#828283;
    text-align: left;
    margin-left:30px;
    margin-top: 0px;
}

.date{
    color:#828283;
    text-align: left;
    margin-top: 0px;
}

.buttonstyle{
    border:none;
    float:right;
    margin-right: 50px;
    background-color: #941A1F;
    padding:10px;
    margin-top: 40px;
    color:white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: small;
    text-decoration: none;

}

.buttonstyle:hover{
    background-color:#641317;

}

.footer{
    background-color: #2C2C2D;
    padding: 30px;
    margin-top: 275px;
    position: relative;
    display: block;
    bottom:0;
}