body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin:0;
}

.img{
    height:60px;
    width:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: #641317;
    padding:10px;
   
}
.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 60px;
    background-color: #F1F1F1;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0  , 0, 0, 0.2);
}

.container h2{
    text-align: center;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size:Large;

}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-size:10px;
}
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.buttonsignin {
    margin-top: 60px;
    width: 100%;
    padding: 10px;
    background-color: #800000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    display:flex;
    justify-content: center;
   

}
.footer{
    background-color: #2C2C2D;
    padding:5px;
    margin-top: 78px;
}


