
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
   
}

.logo{
   height:80px;
   width:auto;
   margin-top: 20px;
   margin-bottom: 15px;
   margin-left:15px;
}

.header-text{
    text-align: center;
    font-size:xx-large;
    color:#941A1F;
    font-weight: 600;
    margin-top:50px;
}

.topnav {
    overflow: hidden;
    background-color: #641317;
    display:flex;
    justify-content: center;
    align-items: center;

}

.topnav a {
    
    display: block;
    color: #f2f2f2;
    padding: 20px 16px;
    text-decoration: none;
    font-size:medium;
    margin-right: 100px;
    transition: background-color 0.2s 0.1s, transform 0.2s 0.1s;
    border-radius: 50px;
    box-sizing: border-box;
}

.topnav a:hover {
    background-color: #941A1F;
    transform: scale(1.1);
    
}

.cover{
    padding: 30px;
    margin: 50px auto;
    width: 100%; 
    max-width: 1150px;
    height: 200px;
    background-color: #F1F1F1;
    border: 1px solid #ddd;
}
.user-icon{
    height:120px;
    width:auto;
   
    
}
.info{

}

.details{

}

.footer {
    background-color: #2C2C2D;
    padding:30px;
    margin-top: 45px;
}



.footer {
    
    background-color: #2C2C2D;
    color: #fff;
    bottom:0;
    text-align: center;
    position:fixed;
    right:0;
    left:0;
    
}




