body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
  padding: 30px;
  margin: 50px auto;
  width: 100%; 
  max-width: 1500px; 
  background-color: #F1F1F1;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.last{
    color:#828283;
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 40px;
}
.logo{
    height:80px;
    width:auto;
    margin: 10px;
}

.user{
    height:60px;
    width:auto;
    margin:20px;
    float:right;
}
.username{
    float:right;
    margin-top:40px;
    margin-right:2px;
   
}

.header {
    background-color: #641317;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
   
}
*, *::before, *::after {
    box-sizing: border-box;
}

.header a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: smaller;
    transition: background-color 0.2s, transform 0.2s; 
    border-radius: 50px;
    box-sizing: border-box;
}
.title{
    margin-bottom: 0px;
}
.topnav {
    overflow: hidden;
    background-color: #641317;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.homebutton{
    text-decoration: none;
    color:white;
}

.homebutton:hover{
    background-color: #941A1F;
    transform: scale(1.1);
    
}
/* OPTIONS */
.question {
    margin-bottom: 15px;
    overflow: auto; /* Fixes floating issues */
}
.question label {
    display: block;
    font-weight: bold;
}
.question input[type="radio"] {
    display: none; 
}
.option{
    border:none;
    background-color:#941A1F;
    color:white;
    padding:10px;
    border-radius: 10px;
    font-size: smaller;
    width:110px;
    margin-right: 30px;
    transition: background-color 0.2s 0.1s, transform 0.2s 0.1s;

}

.option:hover{
    cursor: pointer;
    background-color: #641317;
  

}
/* STARS*/
.rating {
    display: inline-block;
}

.rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
    margin: 0 1px; /* Adjust spacing between stars */
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: #ffa723; /* Highlight color for selected star */
}

.submission{
    display: flex;
    justify-content: flex-end;
    width: 100%; 
    padding-top: 20px;
}

.submitbutton{
    border:none;
    background-color:#941A1F;
    color:white;
    padding:10px;
    border-radius: 10px;
    font-size: smaller;
    width:110px;
    margin-right: 30px;
    transition: 0.4s;
}

.submitbutton:hover{
    background-color:#941A1F ;
    cursor:pointer;
    
    transform: scale(1.05);
}
.submitbutton:active {
    transform: scale(0.97);
}