
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
   
}

.logo{
   height:80px;
   width:auto;
   margin-top: 20px;
   margin-bottom: 15px;
   margin-left:15px;
}

.login_button{
    float:right;
    margin-top:35px;
    margin-right:35px;
    border-radius: 13px;
    padding:13px 38px;
    border:#941A1F;
    background-color: #941A1F;
    color:white;
    font-size:20px;
    transition:opacity 0.3s;
    text-decoration: none;
}


.login_button:hover{
    opacity:0.8;
}
.topnav {
    overflow: hidden;
    background-color: #641317;
    display:flex;
    justify-content: center;
    align-items: center;

}

.topnav a {
    
    display: block;
    color: #f2f2f2;
    padding: 20px 16px;
    text-decoration: none;
    font-size:medium;
    margin-right: 100px;
    transition: background-color 0.2s 0.1s, transform 0.2s 0.1s;
    border-radius: 50px;
    box-sizing: border-box;
}

.topnav a:hover {
    background-color: #941A1F;
    transform: scale(1.1);
    
}

.mainpic{
    width:auto;
    height:480px;
    margin:auto;
    
}

.maintext{
    margin-top: 50px;
    margin-bottom:1px;
}

.Feedbacktext{
    font-size: 50px;
    margin-top: 5px;
    margin-bottom:0px;
    color:#941A1F;
    
    
}

.Text {
    max-width: 600px; 
    flex:top;
    padding-left: 40px;
    margin-bottom: 10px;
}

.para{
    margin-top: 5px;
}

.read-more{
    border-radius:5px;
    height:35px;
    color:white;
    width:120px;
    padding: 8px;
    font-size: smaller;
    text-decoration: none;
    background-color: #941A1F;
    transition:opacity 0.3s;
}

.read-more:hover{
    opacity:0.8;
    cursor:pointer;
}
.content {
    display:flex;
    padding: 9px;
    
}


.logo1{
    height:60px;
    width:auto;
    padding:10px;
    margin-right:170px;
    margin-left:20px;


}

.bottomnav{
    display: flex;
    align-items:center;
    text-align: center;
    margin-top: 0;
   


}
.footer {
    
    background-color: #2C2C2D;
    color: #fff;
    bottom:0;
    text-align: center;
    position:fixed;
    right:0;
    left:0;
    
}

.footer a {

    color:#828283;
    padding: 20px;
    text-decoration: none;
    transition: color 0.3s;
   
}

footer a:hover{
    color:white;
}

.footertext{
   
    display:flex;
    
}

.p{
    margin-left:250px;
    color:#828283;
   
}
.icons{
    justify-content: space-between;
    margin-left:350px;
    margin-top: 23px;
    color:white;
   
}



.insta,.face{
    height:22px;
    width:auto;
    margin-left: 1px;
    opacity:0.7;
    
}

.insta:hover,.face:hover{
    opacity:1;
}



